# Web Scraping Beautiful Soup - cars, ecommerce and cryptocurrency

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np
import urllib.parse

## Cars.com Website

## Http Request

In [2]:
website = "https://www.cars.com/shopping/results/?list_price_max=&makes[]=toyota&maximum_distance=all&maximum_distance_expanded=1&maximum_distance_expanded_from=20&models[]=toyota-c_hr&stock_type=new&zip=98109"

## Get Request

In [3]:
response = requests.get(website)

## Status Code

In [4]:
response.status_code

200

## Create Soup Object

In [5]:
soup = BeautifulSoup(response.content, 'html.parser')

In [6]:
#soup

## Get details

In [7]:
results = soup.find_all('div',{'class':'vehicle-card'})

In [8]:
len(results)

20

In [9]:
results[0]

<div class="vehicle-card" data-listing-id="2cb3d718-e470-489e-831e-76d2939cc243" data-tracking-id="1" data-tracking-type="srp-vehicle-card" id="2cb3d718-e470-489e-831e-76d2939cc243" phx-hook="VehicleCard" phx-target="5">
<a class="vehicle-card-visited-tracking-link" href="/vehicledetail/2cb3d718-e470-489e-831e-76d2939cc243/" rel="nofollow" tabindex="-1"></a>
<div class="vehicle-card-main js-gallery-click-card">
<div class="vehicle-card-photos js-gallery-click-gallery">
<div class="gallery-wrap">
<div class="image-wrap" data-index="0">
<img alt="" class="vehicle-image" loading="lazy" src="https://platform.cstatic-images.com/large/in/v2/57f56ff8-4cc9-5bb9-91df-bb96d65aa0c1/f9667559-0986-4b17-a79c-25f270406510/UD_HyKRHh9j5fT7RS8kRyQWVkjg.jpg"/>
</div>
<div class="image-wrap" data-index="1">
<img alt="" class="vehicle-image" loading="lazy" src="https://platform.cstatic-images.com/large/in/v2/57f56ff8-4cc9-5bb9-91df-bb96d65aa0c1/f9667559-0986-4b17-a79c-25f270406510/XkdYtEtA9rx4Wesm7qKg4oEMlRg.jpg"/>
</div>
<div class="image-wrap" data-index="2">
<img alt="" class="vehicle-image" loading="lazy" src="https://platform.cstatic-images.com/large/in/v2/57f56ff8-4cc9-5bb9-91df-bb96d65aa0c1/f9667559-0986-4b17-a79c-25f270406510/13qoWiCmzQiF2wiHaPNCEbbsFPs.jpg"/>
</div>
<div class="image-wrap" data-index="3">
<img alt="" class="vehicle-image" loading="lazy" src="https://platform.cstatic-images.com/large/in/v2/57f56ff8-4cc9-5bb9-91df-bb96d65aa0c1/f9667559-0986-4b17-a79c-25f270406510/wwz-yUwZ_sKu5WMuNM73hwKvJ0M.jpg"/>
</div>
<div class="image-wrap" data-index="4">
<img alt="" class="vehicle-image" loading="lazy" src="https://platform.cstatic-images.com/large/in/v2/57f56ff8-4cc9-5bb9-91df-bb96d65aa0c1/f9667559-0986-4b17-a79c-25f270406510/IjqmPmnMVjv7MLNixcD8mDAOewk.jpg"/>
</div>
<div class="image-wrap" data-index="5">
<div class="gallery-view-all">
<img alt="" class="vehicle-image js-lazy-load styles-lazy-load" data-src="https://platform.cstatic-images.com/large/in/v2/57f56ff8-4cc9-5bb9-91df-bb96d65aa0c1/f9667559-0986-4b17-a79c-25f270406510/0g_v2yIoecbGs8XqmJDKx11h4hQ.jpg" src="/images/placeholder_10x10.png"/>
<div class="sds-button sds-button--secondary-dense">View all 18 photos</div>
</div>
</div>
</div>
<button class="image-control-left">
<div class="rectangle rectangle-left">
<svg class="sds-text-field__icon" height="16" width="16"><use xlink:href="/svg/spritemap-9957805ae2a418ae7507c2b0e074f33e.svg?vsn=d#chevron-down"></use></svg>
</div>
</button>
<button class="image-control-right">
<div class="rectangle rectangle-right">
<svg class="sds-text-field__icon" height="16" width="16"><use xlink:href="/svg/spritemap-9957805ae2a418ae7507c2b0e074f33e.svg?vsn=d#chevron-down"></use></svg>
</div>
</button>
<div class="gallery-indicator"><span class="gallery-indicator-current-image">1</span>/18</div>
<div class="gallery-nav">
<div class="image-indicator selected"></div>
<div class="image-indicator"></div>
<div class="image-indicator"></div>
<div class="image-indicator"></div>
<div class="image-indicator"></div>
<div class="image-indicator"></div>
</div>
</div>
<div class="vehicle-details">
<div class="save-vehicle">
<div class="favorite">
<button class="heart" data-activity-rule-type="page-over-page" data-index="1" data-linkname="save-vehicle-profile-signup" data-listing-id="2cb3d718-e470-489e-831e-76d2939cc243" id="vehicle-heart-1" onclick="event.preventDefault()" phx-click="save_listing" phx-hook="RecordSaveListingAction" phx-target="83" phx-value-is_vdp="false" phx-value-listing_id="2cb3d718-e470-489e-831e-76d2939cc243">
<svg class="sds-text-field__icon" height="16" width="16"><use xlink:href="/svg/spritemap-9957805ae2a418ae7507c2b0e074f33e.svg?vsn=d#heart"></use></svg>
<span class="text">Save</span>
</button>
</div>
</div>
<p class="stock-type">New</p>
<a class="vehicle-card-link js-gallery-click-link" data-activity-rule-type="page-over-page" data-linkname="vehicle-listing" href="/vehicledetail/2cb3d718-e470-489e-831e-76d2939cc243/?results_page_number=1&amp;search_instance_id=9b94d9e5-e79d-48cc-8b26-702c40c37dbd&amp;search_zipcode=98109&amp;sponsored%3F=false&amp;vertical_position=1" rel="nofollow">
<h2 class="title">2021 Toyota C-HR XLE</h2>
</a>
<div class="price-section price-section-vehicle-card">
<span class="primary-price">$25,114</span>
<span class="secondary-price">MSRP $25,114</span>
</div>
<div class="vehicle-badging" data-click-intent-id="badges-explainer" data-contents='{"home_delivery_badge":true,"virtual_appointments_badge":true,"href_to_vdp":{"href_to_vdp":"/vehicledetail/2cb3d718-e470-489e-831e-76d2939cc243/?bodystyle=suv&amp;cpo_indicator=false&amp;customer_id=17563&amp;intent_id=badges-explainer&amp;listing_id=2cb3d718-e470-489e-831e-76d2939cc243&amp;make=toyota&amp;model=c_hr&amp;model_year=2021&amp;msrp=25114&amp;price=25114&amp;sponsored%3F=false&amp;stock_type=new&amp;trim=xle"}}' data-override-payload='{"bodystyle":"suv","cpo_indicator":false,"customer_id":"17563","horizontal_position":null,"listing_id":"2cb3d718-e470-489e-831e-76d2939cc243","make":"toyota","model":"c_hr","model_year":"2021","msrp":"25114","price":"25114","results_page_number":1,"sponsored?":false,"stock_type":"new","trim":"xle","vertical_position":1,"web_page_type_from":"shopping/search-results"}' data-target="#sds-modal" data-toggle="expanda-modal" tabindex="0">
<div class="sds-badge sds-badge--home-delivery">
<span class="sds-badge__label">Home Delivery</span>
</div>
<div class="sds-badge sds-badge--virtual-appointments">
<span class="sds-badge__label">Virtual Appointments</span>
</div>
</div>
<div class="vehicle-links external-links">
<div class="vehicle-deeplink">
<a class="sds-link--ext" data-intent-id="srp-vehicle-history-report" data-linkname="vehicle-history" data-override-payload='{"page_url":"https://www.carfax.com/cfm/check_order.cfm?partner=CDC_1&amp;vin=NMTKHMBX1MR132222"}' href="/external/carfax/?redirect=https%3A%2F%2Fwww.carfax.com%2Fcfm%2Fcheck_order.cfm%3Fpartner%3DCDC_1%26vin%3DNMTKHMBX1MR132222" rel="noopener nofollow" target="_blank">CARFAX Report<svg class="sds-text-field__icon" height="16" width="16"><use xlink:href="/svg/spritemap-9957805ae2a418ae7507c2b0e074f33e.svg?vsn=d#arrow-up-right"></use></svg></a>
</div>
</div>
<div class="vehicle-dealer">
<div class="dealer-name">
<strong>Rudy Luther Toyota</strong>
</div>
<div class="sds-rating">
<span class="sds-rating__count">4.8</span>
<div class="sds-rating__wrapper">
<span class="sds-rating__item sds-icon--filled">
<svg fill="none" height="24" stroke="#000000" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polygon>
</svg>
</span>
<span class="sds-rating__item sds-icon--filled">
<svg fill="none" height="24" stroke="#000000" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polygon>
</svg>
</span>
<span class="sds-rating__item sds-icon--filled">
<svg fill="none" height="24" stroke="#000000" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polygon>
</svg>
</span>
<span class="sds-rating__item sds-icon--filled">
<svg fill="none" height="24" stroke="#000000" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polygon>
</svg>
</span>
<span class="sds-rating__item sds-icon--filled">
<svg fill="none" height="24" stroke="#000000" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polygon>
</svg>
</span>
</div>
<span class="sds-rating__link sds-button-link">(2,784 reviews)</span>
</div>
<div class="miles-from">1,391 mi. from 98109</div>
</div>
<div class="miles-from">1,391 mi. from 98109</div>
</div>
<div class="contact-buttons" id="2cb3d718-e470-489e-831e-76d2939cc243-lead-btns">
<a class="sds-button--secondary contact-by-phone" data-activity-rule-type="custom" data-call-intent-id="srp-call-intent" data-index="1" data-linkname="dealer-phone-srp" data-listing-id="2cb3d718-e470-489e-831e-76d2939cc243" data-make="Toyota" data-model="C-HR" data-phone-number="6513232303" data-trim="XLE" data-vin="NMTKHMBX1MR132222" data-year="2021" href="tel:+1-651-323-2303" id="dealer-phone-1" phx-hook="CallSourceDniSRPCallButton" phx-update="ignore">Call</a>
<button class="sds-button lead-form-modal-button" data-activity-rule-type="custom" data-dealer-customer-id="17563" data-index="1" data-linkname="email-lead-form-srp" data-listing-id="2cb3d718-e470-489e-831e-76d2939cc243" data-sponsored="false" data-sponsored-invariant="false" id="lead-form-email-2cb3d718-e470-489e-831e-76d2939cc243" phx-hook="ShowLeadForm">
        Check availability
      </button>
<button class="sds-button lead-form-modal-button--desktop srp" data-activity-rule-type="custom" data-dealer-customer-id="17563" data-index="1" data-linkname="email-lead-form-srp" data-listing-id="2cb3d718-e470-489e-831e-76d2939cc243" data-sponsored="false" data-sponsored-invariant="false" id="lead-form-2cb3d718-e470-489e-831e-76d2939cc243" phx-hook="ShowLeadForm">
        Check availability
      </button>
</div>
</div>
</div>

## Get Information of Interest

### Name

In [10]:
results[0].find('h2').get_text()

'2021 Toyota C-HR XLE'

### Dealer Name

In [11]:
results[0].find('div',{'class':'dealer-name'}).get_text().strip()

'Rudy Luther Toyota'

### Rating

In [12]:
results[0].find('span',{'class':'sds-rating__count'}).get_text()

'4.8'

### Number of Reviews

In [13]:
results[0].find('span',{'class':'sds-rating__link'}).get_text()

'(2,784 reviews)'

### Price

In [14]:
results[0].find('span',{'class':'primary-price'}).get_text()

'$25,114'

## Scrape whole page

In [15]:
# Create empty lists for the data
name  = []
dealer_name = []
rating  = []
reviews = []
price = []

# for loop and append to the lists
for result in results:
    try:
        name.append(result.find('h2').get_text()) 
    except:
        name.append("n/a")
    try:
        dealer_name.append(result.find('div',{'class':'dealer-name'}).get_text().strip())
    except:
        dealer_name.append("n/a")
    try:
        rating.append(result.find('span',{'class':'sds-rating__count'}).get_text())
    except:
        rating.append("n/a")
    try:
        reviews.append(result.find('span',{'class':'sds-rating__link'}).get_text())
    except:
        reviews.append("n/a")
    try:
        price.append(result.find('span',{'class':'primary-price'}).get_text())
    except:
        price.append("n/a")

In [16]:
price

['$25,114',
 'Not Priced',
 '$25,827',
 'Not Priced',
 'Not Priced',
 '$25,504',
 'Not Priced',
 'Not Priced',
 'Call for price',
 '$25,838',
 '$25,988',
 '$25,345',
 'Call for price',
 '$25,757',
 '$25,292',
 '$22,554',
 '$25,652',
 'Not Priced',
 '$24,591',
 '$23,869']

## Convert to dataframe

In [17]:
cars = pd.DataFrame({"car":name,"dealer":dealer_name,"rating":rating,"reviews":reviews,"price":price})
cars.head()

,car,dealer,rating,reviews,price
0,2021 Toyota C-HR XLE,Rudy Luther Toyota,4.8,"(2,784 reviews)","$25,114"
1,2021 Toyota C-HR XLE,Burnsville Toyota,4.8,(595 reviews),Not Priced
2,2021 Toyota C-HR XLE,Smart Motors,4.6,(542 reviews),"$25,827"
3,2021 Toyota C-HR XLE,Elgin Toyota,4.7,"(1,632 reviews)",Not Priced
4,2021 Toyota C-HR XLE,Elgin Toyota,4.7,"(1,632 reviews)",Not Priced

In [18]:
# Strip out unwanted characters
cars["reviews"] = cars["reviews"].apply(lambda x: x.strip("reviews)").strip("("))
cars["price"] = cars["price"].apply(lambda x: x.strip("$"))

In [19]:
cars

,car,dealer,rating,reviews,price
0,2021 Toyota C-HR XLE,Rudy Luther Toyota,4.8,"2,784","25,114"
1,2021 Toyota C-HR XLE,Burnsville Toyota,4.8,595,Not Priced
2,2021 Toyota C-HR XLE,Smart Motors,4.6,542,"25,827"
3,2021 Toyota C-HR XLE,Elgin Toyota,4.7,"1,632",Not Priced
4,2021 Toyota C-HR XLE,Elgin Toyota,4.7,"1,632",Not Priced
5,2021 Toyota C-HR XLE,Toyota Direct,3.5,141,"25,504"
6,2021 Toyota C-HR Nightshade,Morgan City Toyota Ford,n/a,n/a,Not Priced
7,2021 Toyota C-HR XLE,Antwerpen Toyota,4.8,614,Not Priced
8,2021 Toyota C-HR XLE,Heritage Toyota Catonsville,4.6,"1,331",Call for price
9,2021 Toyota C-HR XLE,Jack Taylor's Alexandria Toyota,4.5,55,"25,838"
10,2021 Toyota C-HR Nightshade,Jack Taylor's Alexandria Toyota,4.5,55,"25,988"
11,2021 Toyota C-HR XLE,Jerry's Toyota,4.3,741,"25,345"
12,2021 Toyota C-HR XLE,Waldorf Toyota,4.8,50,Call for price
13,2021 Toyota C-HR XLE,Towne Toyota,4.2,136,"25,757"
14,2021 Toyota C-HR XLE,Towne Toyota,4.2,136,"25,292"
15,2021 Toyota C-HR LE,Faith's Toyota,2.0,4,"22,554"
16,2021 Toyota C-HR XLE,Hendrick Toyota North Charleston,4.8,"1,061","25,652"
17,2021 Toyota C-HR XLE,Penn Toyota,4.6,699,Not Priced
18,2021 Toyota C-HR LE,Toyota of Tampa Bay on Fletcher,4.8,"3,041","24,591"
19,2021 Toyota C-HR LE,Ira Toyota of Orleans,4.8,231,"23,869"

In [20]:
website = "https://www.cars.com/shopping/results/?page=1&page_size=20&list_price_max=&makes[]=toyota&maximum_distance=all&maximum_distance_expanded=1&maximum_distance_expanded_from=20&models[]=toyota-c_hr&stock_type=new&zip=98109"

In [21]:
name  = []
dealer_name = []
rating  = []
reviews = []
price = []

for i in range(1,6):
    website = "https://www.cars.com/shopping/results/?page=" + str(i) + "&page_size=20&list_price_max=&makes[]=toyota&maximum_distance=all&maximum_distance_expanded=1&maximum_distance_expanded_from=20&models[]=toyota-c_hr&stock_type=new&zip=98109"
    
    response = requests.get(website)
    
    soup = BeautifulSoup(response.content, 'html.parser')
    
    results = soup.find_all('div',{'class':'vehicle-card'})
    
    for result in results:
        try:
            name.append(result.find('h2').get_text()) 
        except:
            name.append("n/a")
        try:
            dealer_name.append(result.find('div',{'class':'dealer-name'}).get_text().strip())
        except:
            dealer_name.append("n/a")
        try:
            rating.append(result.find('span',{'class':'sds-rating__count'}).get_text())
        except:
            rating.append("n/a")
        try:
            reviews.append(result.find('span',{'class':'sds-rating__link'}).get_text())
        except:
            reviews.append("n/a")
        try:
            price.append(result.find('span',{'class':'primary-price'}).get_text())
        except:
            price.append("n/a")

In [22]:
cars = pd.DataFrame({"car":name,"dealer":dealer_name,"rating":rating,"reviews":reviews,"price":price})
cars.head()

,car,dealer,rating,reviews,price
0,2021 Toyota C-HR XLE,Rudy Luther Toyota,4.8,"(2,784 reviews)","$25,114"
1,2021 Toyota C-HR XLE,Burnsville Toyota,4.8,(595 reviews),Not Priced
2,2021 Toyota C-HR XLE,Smart Motors,4.6,(542 reviews),"$25,827"
3,2021 Toyota C-HR XLE,Elgin Toyota,4.7,"(1,632 reviews)",Not Priced
4,2021 Toyota C-HR XLE,Elgin Toyota,4.7,"(1,632 reviews)",Not Priced

In [23]:
# Strip out unwanted characters
cars["reviews"] = cars["reviews"].apply(lambda x: x.strip("reviews)").strip("("))
cars["price"] = cars["price"].apply(lambda x: x.strip("$"))

In [24]:
cars.head()

                    car              dealer rating reviews       price
0  2021 Toyota C-HR XLE  Rudy Luther Toyota    4.8  2,784       25,114
1  2021 Toyota C-HR XLE   Burnsville Toyota    4.8    595   Not Priced
2  2021 Toyota C-HR XLE        Smart Motors    4.6    542       25,827
3  2021 Toyota C-HR XLE        Elgin Toyota    4.7  1,632   Not Priced
4  2021 Toyota C-HR XLE        Elgin Toyota    4.7  1,632   Not Priced

## E-Commerce Website

In [25]:
website = "https://www.laptopsdirect.co.uk/ct/tablet-pcs-and-e-readers/tablet-pcs"

In [26]:
response = requests.get(website)
response.status_code

200

In [27]:
soup = BeautifulSoup(response.content, 'html.parser') 
results = soup.find_all('div',{'class':'OfferBox'})

In [28]:
results[0]

<div class="OfferBox">
<div class="merchTopofCentreColumn top5icon" onload="dataLayer.push({'event':'top5IconShown'});" style="display:none; z-index: 20; position: absolute; top: 50px; left: 10px; cursor: pointer;  pointer-events: none; width: 70px;">
<img alt="Top 5" border="0" src="https://www.appliancesdirect.co.uk/images/top5-apd.png"/>
</div>
<div class="sr_image">
<div class="sr_compare">
<div class="sli_compare" id="1515546_compare">
<input class="compare" onclick="AddRemoveFromProductCompareCookie(this, event);" type="checkbox" value="1515546"/>
<input id="comphid_1515546" type="hidden" value="Tablet PCs">
<span class="compareText">Compare</span>
</input></div>
<div class="comparedialog" id="msg_1515546" style="display:none;" title="Compare products">
<p>Sorry, you can only compare a maximum of 4 items per category.</p>
</div>
<div class="compBtn" id="compBtn_1515546">
<a href="/Compare" type="button">Compare products »</a>
</div>
</div>
<a href="/apple-ipad-wi-fi-32gb-10.2-inch-tablet-space-grey-myl92b-a/version.asp" onclick="EnEcomProdClick('MYL92B/A', 'apple-ipad-wi-fi-32gb-10.2-inch-tablet-space-grey-myl92b-a/version.asp', '1');" title='Apple iPad 10.2" 32GB 2020 - Space Grey'>
<img alt='Apple iPad 10.2" 32GB 2020 - Space Grey' border="0" class="offerImage" id="productImage_1515546" pid="1515546" src="/Images/MYL92BA_1_Classic.jpg?v=3&amp;width=200&amp;height=200&amp;switchoff=enabled" title='Apple iPad 10.2" 32GB 2020 - Space Grey'/>
</a>
<div class="merchTopofCentreColumn plogo plogo-apple" style="">
<img border="0" src="/ImagesById/6653146?switchoff=enabled&amp;v=38475"/>
</div>
</div>
<div class="OfferBoxProdInfo">
<div class="OfferBoxTitle">
<h3>
<a class="offerboxtitle" href="/apple-ipad-wi-fi-32gb-10.2-inch-tablet-space-grey-myl92b-a/version.asp" onclick="EnEcomProdClick('MYL92B/A', 'apple-ipad-wi-fi-32gb-10.2-inch-tablet-space-grey-myl92b-a/version.asp', '1');" title='Apple iPad 10.2" 32GB 2020 - Space Grey - MYL92B/A'>Apple iPad 10.2" 32GB 2020 - Space Grey - MYL92B/A</a>
</h3>
<star-rating product-url="apple-ipad-wi-fi-32gb-10.2-inch-tablet-space-grey-myl92b-a/version.asp" rating-value="9.4" ratings-count="2150"></star-rating>
<wishlist-amend currency="GBP" exvatprice="283.31" multiple-mode="true" productavailable="true" productid="1515546" siteid="3" vatrate="1.200"></wishlist-amend>
</div>
<div class="sash-container">
<div class="sash-textbanner sash-urgency-red-outline">
<p>sale</p>
</div>
</div>
<div class="productInfo" id="productInfo_1515546">
<ul>
<li><span class="proddescvalue">A12 Bionic</span> <span class="proddesctitle">Processor</span></li>
<li><span class="proddescvalue">10.2Inch</span> <span class="proddesctitle">Display</span></li>
<li><span class="proddescvalue">32GB</span> <span class="proddesctitle">Storage</span></li>
<li><span class="proddescvalue">3GB</span> <span class="proddesctitle">RAM</span></li>
<li><span class="proddescvalue">1 year warranty</span></li>
</ul>
</div>
</div>
<div class="OfferBoxPrice">
<div class="accpricemsgs">
</div>
<span class="offerpricetext">Only </span>
<span class="offerprice">£339.97<span class="tilesUnitText"></span></span>
<div class="accpricemsgs">
</div>
<a class="finance" onclick="ga('send', 'event', 'product page', 'Pay Later');">
<span class="financemessage">or </span>
<span class="financeprice">£16.32 a month</span>
<span class="paypal-credit-ab-test-show"><span class="paypalcredit-srtext">0% finance available <span class="paypal-credit-logo"></span></span></span>
</a>
<div class="Availability" id="availability_1515546"></div>
<a class="offerboxlink btn-prime" href="/apple-ipad-wi-fi-32gb-10.2-inch-tablet-space-grey-myl92b-a/version.asp" onclick="document.location.href='/apple-ipad-wi-fi-32gb-10.2-inch-tablet-space-grey-myl92b-a/version.asp'; EnEcomProdClick('MYL92B/A', 'apple-ipad-wi-fi-32gb-10.2-inch-tablet-space-grey-myl92b-a/version.asp', '1'); return false;" title='Apple iPad 10.2" 32GB 2020 - Space Grey'>Find Out More</a>
<div class="quickview">
<a class="dialoganchor btn-second" id="alink_1515546" onclick="CaptureProductClick(39152,1515546,8,24,1,1,10) ; ga('send', 'event', 'QuickView', 'quick view – view', 'MYL92B/A');" style="cursor:pointer">Quick View</a>
</div>
</div>
<script type="text/javascript">
            $(function () {
                if ('False' == 'True') {
                    //get the keywords for videos
                    GetKeywordsForSearchPage('1515546')
                }
            });
        </script>
</div>

### Name

In [29]:
results[0].find('a',{'class':'offerboxtitle'}).get_text()

'Apple iPad 10.2" 32GB 2020 - Space Grey - MYL92B/A'

### Price

In [30]:
results[0].find('span',{'class':'offerprice'}).get_text()

'£339.97'

### Rating

In [31]:
results[0].find('star-rating').get('rating-value')

'9.4'

### Review Count

In [32]:
results[0].find('star-rating').get('ratings-count')

'2150'

### Relative URL

In [33]:
relative_url = results[0].find('a',{'class':'offerboxtitle'}).get('href')

In [34]:
root_url = "https://www.laptopsdirect.co.uk"

In [35]:
combined_url = root_url + relative_url

In [36]:
combined_url

'https://www.laptopsdirect.co.uk/apple-ipad-wi-fi-32gb-10.2-inch-tablet-space-grey-myl92b-a/version.asp'

### Product details

In [37]:
results[0].find('div',{'class':'productInfo'}).get_text().strip().replace('\n',', ')

'A12 Bionic Processor, 10.2Inch Display, 32GB Storage, 3GB RAM, 1 year warranty'

## Scrape all results on a page

In [38]:
name  = []
price = []
rating  = []
reviews = []
url = []
product_details = []

for result in results:
    try:
        name.append(result.find('a',{'class':'offerboxtitle'}).get_text())
    except:
        name.append("n/a")
    try:
        price.append(result.find('span',{'class':'offerprice'}).get_text())
    except:
        price.append("n/a")
    try:
        rating.append(result.find('star-rating').get('rating-value'))
    except:
        rating.append("n/a")
    try:
        reviews.append(result.find('star-rating').get('ratings-count'))
    except:
        reviews.append("n/a")
    try:
        url.append(result.find('a',{'class':'offerboxtitle'}).get('href'))
    except:
        url.append("n/a")
    try:
        product_details.append(result.find('div',{'class':'productInfo'}).get_text().strip().replace('\n',', '))
    except:
        product_details.append("n/a")

In [39]:
combined_urls = []
for link in url:
    combined_urls.append(urllib.parse.urljoin(root_url,link))

In [40]:
tablets = pd.DataFrame({'name':name,'price':price,'rating':rating,'reviews':reviews,'url':combined_urls})

In [41]:
tablets.head()

,name,price,rating,reviews,url
0,"Apple iPad 10.2"" 32GB 2020 - Space Grey - MYL9...",£339.97,9.4,2150,https://www.laptopsdirect.co.uk/apple-ipad-wi-...
1,"Apple iPad 10.2"" 128GB 2020 - Space Grey - MYL...",£449.97,9.5,1578,https://www.laptopsdirect.co.uk/apple-ipad-wi-...
2,"Apple iPad 10.2"" 32GB 2020 - Silver - MYLA2B/A",£319.97,9.5,889,https://www.laptopsdirect.co.uk/apple-ipad-wi-...
3,"Apple iPad 10.2"" 32GB 2020 - Gold - MYLC2B/A",£327.97,9.6,1350,https://www.laptopsdirect.co.uk/apple-ipad-wi-...
4,Samsung Galaxy Tab Active 3 64GB LTE 8'' Table...,£429.97,9,3,https://www.laptopsdirect.co.uk/samsung-galaxy...

In [42]:
tablets["price"] = tablets["price"].apply(lambda x: x.replace("£",""))

In [43]:
tablets.head()

,name,price,rating,reviews,url
0,"Apple iPad 10.2"" 32GB 2020 - Space Grey - MYL9...",339.97,9.4,2150,https://www.laptopsdirect.co.uk/apple-ipad-wi-...
1,"Apple iPad 10.2"" 128GB 2020 - Space Grey - MYL...",449.97,9.5,1578,https://www.laptopsdirect.co.uk/apple-ipad-wi-...
2,"Apple iPad 10.2"" 32GB 2020 - Silver - MYLA2B/A",319.97,9.5,889,https://www.laptopsdirect.co.uk/apple-ipad-wi-...
3,"Apple iPad 10.2"" 32GB 2020 - Gold - MYLC2B/A",327.97,9.6,1350,https://www.laptopsdirect.co.uk/apple-ipad-wi-...
4,Samsung Galaxy Tab Active 3 64GB LTE 8'' Table...,429.97,9,3,https://www.laptopsdirect.co.uk/samsung-galaxy...

## Multiple Pages

In [44]:
name  = []
price = []
rating  = []
reviews = []
url = []
product_details = []



for i in range(1,6):
    website = "https://www.laptopsdirect.co.uk/ct/tablet-pcs-and-e-readers/tablet-pcs"
    
    response = requests.get(website)
    
    soup = BeautifulSoup(response.content, 'html.parser')
    
    results = soup.find_all('div',{'class':'OfferBox'})
    
    for result in results:
        try:
            name.append(result.find('a',{'class':'offerboxtitle'}).get_text())
        except:
            name.append("n/a")
        try:
            price.append(result.find('span',{'class':'offerprice'}).get_text())
        except:
            price.append("n/a")
        try:
            rating.append(result.find('star-rating').get('rating-value'))
        except:
            rating.append("n/a")
        try:
            reviews.append(result.find('star-rating').get('ratings-count'))
        except:
            reviews.append("n/a")
        try:
            url.append(result.find('a',{'class':'offerboxtitle'}).get('href'))
        except:
            url.append("n/a")
        try:
            product_details.append(result.find('div',{'class':'productInfo'}).get_text().strip().replace('\n',', '))
        except:
            product_details.append("n/a")
            
    combined_urls = []
    for link in url:
        combined_urls.append(urllib.parse.urljoin(root_url,link))

In [45]:
tablets = pd.DataFrame({'name':name,'price':price,'rating':rating,'reviews':reviews,'url':combined_urls})

In [46]:
tablets.shape

(120, 5)

In [47]:
tablets.head()

,name,price,rating,reviews,url
0,"Apple iPad 10.2"" 32GB 2020 - Space Grey - MYL9...",£339.97,9.4,2150,https://www.laptopsdirect.co.uk/apple-ipad-wi-...
1,"Apple iPad 10.2"" 128GB 2020 - Space Grey - MYL...",£449.97,9.5,1578,https://www.laptopsdirect.co.uk/apple-ipad-wi-...
2,"Apple iPad 10.2"" 32GB 2020 - Silver - MYLA2B/A",£319.97,9.5,889,https://www.laptopsdirect.co.uk/apple-ipad-wi-...
3,"Apple iPad 10.2"" 32GB 2020 - Gold - MYLC2B/A",£327.97,9.6,1350,https://www.laptopsdirect.co.uk/apple-ipad-wi-...
4,Samsung Galaxy Tab Active 3 64GB LTE 8'' Table...,£429.97,9,3,https://www.laptopsdirect.co.uk/samsung-galaxy...

## Cryptocurrency Website

In [48]:
website = "https://www.coingecko.com/en"

In [49]:
response = requests.get(website)
response.status_code

200

In [50]:
soup = BeautifulSoup(response.content, 'html.parser') 
results = soup.find('table',{'class':'table-scrollable'}).find("tbody").find_all("tr")

In [51]:
len(results)

100

In [52]:
results[0]

<tr>
<td class="pl-1 pr-0" style="width: 1px;">
<div class="dropdown-menu p-3 dropdown-popup dropdown-menu-content portfolios-dropdown"></div>
<i aria-expanded="false" aria-haspopup="true" class="far cursor-pointer fa-star" data-action="click-&gt;favorites#trigger" data-coin-id="1" data-coin-image="https://assets.coingecko.com/coins/images/1/thumb/bitcoin.png?1547033579" data-coin-slug="bitcoin" data-coin-symbol="btc" data-new-portfolio-button-label='&lt;span class="translation_missing" title="translation missing: en.layouts.application.portfolio.add_to_new_portfolio"&gt;Add To New Portfolio&lt;/span&gt;' data-new-portfolio-confirm-button="new-portfolio-form-confirm-button" data-new-portfolio-confirm-modal="new-portfolio-form-modal" data-price-btc="1.0" data-removable="false" data-source="star_button" data-target="favorites.solidStar" data-toast-success-hyperlink-text="Start your portfolio - Add a transaction!" data-toast-success-message="BTC added to Portfolio" data-toggle="dropdown" data-unfavorite-coin-confirm-button="unfavorite-coin-confirm-button" data-unfavorite-coin-confirm-modal="unfavorite-coin-confirm-modal"></i>
</td>
<td class="table-number text-center text-xs" style="min-width: 28px;">
1
</td>
<td class="py-0 coin-name" data-sort="Bitcoin">
<div class="tw-flex">
<div class="coin-icon mr-2 center flex-column">
<img alt="bitcoin (BTC)" class="lazy" data-src="https://assets.coingecko.com/coins/images/1/thumb/bitcoin.png?1547033579" data-srcset="https://assets.coingecko.com/coins/images/1/thumb_2x/bitcoin.png?1547033579 2x" src="https://static.coingecko.com/s/missing_thumb-8e0db816ffd421c40794282644e1baa73e174b7b84f04c07e624691b2f42efc9.png"/>
</div>
<div class="center">
<a class="tw-hidden lg:tw-flex font-bold tw-items-center tw-justify-between" href="/en/coins/bitcoin" style="width: 115px;">
Bitcoin
</a> <a class="d-lg-none font-bold" href="/en/coins/bitcoin">
BTC
</a> <span class="tw-hidden d-lg-inline font-normal text-3xs ml-2">
BTC
</span>
<div id="token-btc-js"></div>
</div>
</div>
</td>
<td class="td-price price text-right" data-sort="47727.7458186943" style="min-width: 106px;">
<span class="no-wrap" data-coin-id="1" data-coin-symbol="btc" data-price-btc="1.0" data-target="price.price">$47,728</span>
</td>
<td class="td-change1h change1h stat-percent text-right col-market" data-sort="-0.3978847576589298">
<span class="text-danger" data-24h="false" data-coin-id="1" data-down-class="text-danger" data-json='{"aed":-0.39818304877490196,"ars":-0.4471143856588937,"aud":-0.21036122720703415,"bch":0.5885823736473658,"bdt":-0.3978847576588012,"bhd":-0.39788475765871945,"bmd":-0.3978847576589298,"bnb":0.524676205750871,"brl":-0.3583384374894132,"btc":0.0,"cad":-0.4263755117719028,"chf":-0.42651888867595905,"clp":-0.3978847576586257,"cny":-0.39788475765906317,"czk":-0.5031801155519758,"dkk":-0.45352894144427236,"dot":0.6327095835858874,"eos":0.6874124232021532,"eth":0.27501653484211236,"eur":-0.44717116937185564,"gbp":-0.4305938680758632,"hkd":-0.4143951138263375,"huf":-0.48725259999322673,"idr":-0.3978847576587114,"ils":-0.35402236374645096,"inr":-0.3978847576589034,"jpy":-0.3485045642547876,"krw":-0.3978847576588519,"kwd":-0.39788475765839687,"lkr":-0.3978847576588339,"ltc":1.2954593253205138,"mmk":-0.3978847576588905,"mxn":-0.41435369455094906,"myr":-0.3978847576583986,"ngn":-0.39788475765924525,"nok":-0.28340852873394945,"nzd":-0.29324676362176316,"php":-0.44711572422901646,"pkr":-0.39788475765882136,"pln":-0.5543039013836817,"rub":-0.43047971137739605,"sar":-0.40043471052647267,"sek":-0.5281184587358537,"sgd":-0.3299141121599779,"thb":-0.3796085735069559,"try":-0.39414017646258365,"twd":-0.3978847576589716,"uah":-0.397884757659108,"usd":-0.3978847576589298,"vef":-0.3978847576587293,"vnd":-0.45450528313798016,"xag":-0.42001714306616966,"xau":-0.39788475765866044,"xdr":-0.39788475765881987,"xlm":0.5545892458289564,"xrp":0.30434314359196435,"yfi":0.14752332860988038,"zar":0.18650641407280588,"bits":-0.09421356115620441,"link":0.6247658722475248,"sats":-0.09421356115620116}' data-target="percent-change.percent" data-up-class="text-green">-0.4%</span>
</td>
<td class="td-change24h change24h stat-percent text-right col-market" data-sort="-1.0720917671602648">
<span class="text-danger" data-24h="true" data-coin-id="1" data-down-class="text-danger" data-json='{"aed":-1.0723880391426508,"ars":-1.1209881596641706,"aud":-1.082658277227752,"bch":1.05036299572701,"bdt":-1.0720917671603114,"bhd":-1.0720917671604073,"bmd":-1.0720917671602648,"bnb":-2.2669163781718495,"brl":-1.0328131361475645,"btc":0.0,"cad":-1.1003896672753957,"chf":-1.1070031425780065,"clp":-1.0720917671599663,"cny":-1.0720917671603043,"czk":-1.1766743804679203,"dkk":-1.1273592953030627,"dot":-0.10418567907489762,"eos":5.171397022235724,"eth":1.0071479011389928,"eur":-1.121044559008097,"gbp":-1.1045794695130462,"hkd":-1.0964842984394867,"huf":-1.160854678308467,"idr":-1.0720917671600618,"ils":-1.0285262779200044,"inr":-1.0720917671603092,"jpy":-1.0230458284298158,"krw":-1.0720917671602475,"kwd":-1.072091767160072,"lkr":-1.0720917671601489,"ltc":1.483011508027952,"mmk":-1.0720917671601529,"mxn":-1.0884492257702714,"myr":-1.0720917671597125,"ngn":-1.0720917671602295,"nok":-1.1923407174189915,"nzd":-1.0002280132604708,"php":-1.1209894891733618,"pkr":-1.0720917671601342,"pln":-1.2274521092431152,"rub":-1.104466085541616,"sar":-1.0746244593890024,"sek":-1.2014439159334998,"sgd":-1.00458121515949,"thb":-1.0903444231374648,"try":-1.0683725330450624,"twd":-1.0720917671598087,"uah":-1.0720917671603563,"usd":-1.0720917671602648,"vef":-1.0720917671601418,"vnd":-1.128329028137155,"xag":-1.0940743383858123,"xau":-1.1015929589425972,"xdr":-1.0720917671602255,"xlm":-0.3487335309474824,"xrp":-0.22743513773585317,"yfi":0.7007370314541579,"zar":-0.4916563409798502,"bits":0.09195425093611645,"link":0.40329058531957196,"sats":0.09195425093611831}' data-target="percent-change.percent" data-up-class="text-green">-1.1%</span>
</td>
<td class="td-change7d change7d stat-percent text-right col-market" data-sort="5.600562427751434" style="width: 70px;">
<span class="text-green" data-24h="false" data-coin-id="1" data-down-class="text-danger" data-json='{"aed":5.601396201141321,"ars":5.831893206521439,"aud":6.897115030473657,"bch":9.14554442432203,"bdt":5.74099961600065,"bhd":5.5582648349194494,"bmd":5.600562427751434,"bnb":2.5342186821094255,"brl":6.5104262138233935,"btc":0.0,"cad":6.131362757301054,"chf":7.229448948724694,"clp":5.071528333961699,"cny":5.959430313660888,"czk":6.414313004352776,"dkk":6.312486320089218,"dot":-3.5438516047048116,"eos":-2.914467121600516,"eth":2.6097593401558163,"eur":6.34764882491396,"gbp":6.291899456975364,"hkd":5.643330808278925,"huf":7.175125978211852,"idr":5.638334445241893,"ils":5.851086453022748,"inr":5.848527940720951,"jpy":5.647157892844681,"krw":6.650811532024369,"kwd":5.765021369527225,"lkr":5.535579189322599,"ltc":7.007727366888139,"mmk":17.12383294285096,"mxn":6.241589647551457,"myr":6.494076191796575,"ngn":5.677562570493304,"nok":5.870972609913972,"nzd":6.795629748240996,"php":5.794300549505521,"pkr":5.544422966176938,"pln":7.359607566313778,"rub":5.123468619921715,"sar":5.574096403638191,"sek":6.068109171210687,"sgd":6.176281446014289,"thb":7.603185238708986,"try":7.788755202539856,"twd":6.106339670126229,"uah":5.439387627946578,"usd":5.600562427751434,"vef":5.60056242775157,"vnd":5.975345125280344,"xag":11.89268889480495,"xau":7.592313448780868,"xdr":5.809611654946496,"xlm":7.393954842150562,"xrp":6.465028183654481,"yfi":4.8127621721875125,"zar":9.80738872628045,"bits":-0.055416395978562856,"link":2.0264770599586113,"sats":-0.05541639597855682}' data-target="percent-change.percent" data-up-class="text-green">5.6%</span>
</td>
<td class="td-liquidity_score lit text-right %&gt; col-market" data-sort="561684.431255408" style="width: 155px;">
<span class="no-wrap" data-no-decimal="true" data-price-btc="561684.431255408" data-target="price.price">$26,802,575,781</span>
</td>
<td class="td-market_cap cap col-market cap-price text-right" data-sort="18820668.0" style="width: 155px;">
<span class="no-wrap" data-price-btc="18820668.0" data-target="price.price">$898,391,098,703</span>
</td>
<td class="p-0 pl-2 text-center" style="width: 135px;">
<a href="/en/coins/bitcoin">
<img alt="bitcoin (BTC) 7d chart" class="lazy" data-src="https://www.coingecko.com/coins/1/sparkline" data-srcset="https://www.coingecko.com/coins/1/sparkline 1x" src="https://static.coingecko.com/s/blank-b1442e85b03bdcaf66dc58c7abb98745dd2687d86350be9a298a1d9382ac849b.gif"/>
</a> </td>
</tr>

### Name

In [53]:
results[0].find('a',{'class':'tw-hidden lg:tw-flex font-bold tw-items-center tw-justify-between'}).get_text().strip()

'Bitcoin'

### Price

In [54]:
results[0].find('td',{'class':'td-price'}).get_text().strip()

'$47,728'

### 1hr Change

In [55]:
results[0].find('td',{'class':'td-change1h'}).get_text().strip()

'-0.4%'

### 24 hr Change

In [56]:
results[0].find('td',{'class':'td-change24h'}).get_text().strip()

'-1.1%'

### 7 day Change

In [57]:
results[0].find('td',{'class':'td-change7d'}).get_text().strip()

'5.6%'

### 24 hr Volume

In [58]:
results[0].find('td',{'class':'td-liquidity_score lit text-right %> col-market'})

<td class="td-liquidity_score lit text-right %&gt; col-market" data-sort="561684.431255408" style="width: 155px;">
<span class="no-wrap" data-no-decimal="true" data-price-btc="561684.431255408" data-target="price.price">$26,802,575,781</span>
</td>

### Market Cap

In [59]:
results[0].find('td',{'class':'td-market_cap cap col-market cap-price text-right'}).get_text().strip()

'$898,391,098,703'

In [60]:
name = []
price = []
change_1h = []
change_24h = []
change_7d = []
market_cap = []

for result in results:
    try:
        name.append(result.find('a',{'class':'tw-hidden lg:tw-flex font-bold tw-items-center tw-justify-between'}).get_text().strip())
    except:
        name.append("n/a")
    try:
        price.append(result.find('td',{'class':'td-price'}).get_text().strip())
    except:
        price.append("n/a")
    try:
        change_1h.append(result.find('td',{'class':'td-change1h'}).get_text().strip())
    except:
        change_1h.append("n/a")
    try:
        change_24h.append(result.find('td',{'class':'td-change24h'}).get_text().strip())
    except:
        change_24h.append("n/a")
    try:
        change_7d.append(result.find('td',{'class':'td-change7d'}).get_text().strip())
    except:
        change_7d.append("n/a")
    try:
        market_cap.append(result.find('td',{'class':'td-market_cap cap col-market cap-price text-right'}).get_text().strip())
    except:
        market_cap.append("n/a")

In [103]:
crypto = pd.DataFrame({'name':name,'price':price,'1hr change':change_1h,'24h change':change_24h,
                       '7d change':change_7d,'market cap':market_cap })

In [63]:
name = []
price = []
change_1h = []
change_24h = []
change_7d = []
market_cap = []


for i in range(1,11):
    
    website = "https://www.coingecko.com/en?page=" + str(i)
    response = requests.get(website)
    soup = BeautifulSoup(response.content, 'html.parser') 
    results = soup.find('table',{'class':'table-scrollable'}).find("tbody").find_all("tr")
    
    for result in results:
        try:
            name.append(result.find('a',{'class':'tw-hidden lg:tw-flex font-bold tw-items-center tw-justify-between'}).get_text().strip())
        except:
            name.append("n/a")
        try:
            price.append(result.find('td',{'class':'td-price'}).get_text().strip())
        except:
            price.append("n/a")
        try:
            change_1h.append(result.find('td',{'class':'td-change1h'}).get_text().strip())
        except:
            change_1h.append("n/a")
        try:
            change_24h.append(result.find('td',{'class':'td-change24h'}).get_text().strip())
        except:
            change_24h.append("n/a")
        try:
            change_7d.append(result.find('td',{'class':'td-change7d'}).get_text().strip())
        except:
            change_7d.append("n/a")
        try:
            market_cap.append(result.find('td',{'class':'td-market_cap cap col-market cap-price text-right'}).get_text().strip())
        except:
            market_cap.append("n/a")

In [176]:
crypto = pd.DataFrame({'name':name,'price':price,'1hr change':change_1h,'24h change':change_24h,
                       '7d change':change_7d,'market cap':market_cap })

In [177]:
crypto['price'] = crypto["price"].apply(lambda x: x.replace("$",""))
crypto['1hr change'] = crypto["1hr change"].apply(lambda x: x.replace("%",""))
crypto['24h change'] = crypto["24h change"].apply(lambda x: x.replace("%",""))
crypto['7d change'] = crypto["7d change"].apply(lambda x: x.replace("%",""))
crypto['market cap'] = crypto["market cap"].apply(lambda x: x.replace("$",""))
crypto['market cap'] = crypto["market cap"].apply(lambda x: x.replace(",",""))
crypto['price'] = crypto["price"].apply(lambda x: x.replace(",",""))

In [178]:
crypto.head()

           name    price 1hr change 24h change 7d change    market cap
0       Bitcoin    47728       -0.4       -1.1       5.6  898391098703
1      Ethereum  3363.08       -0.5       -2.1       2.9  395467452974
2       Cardano     2.34       -0.9       -1.2     -10.4   75104255685
3        Tether     1.00       -0.6        0.2       0.0   69489698872
4  Binance Coin   416.19       -0.9        1.2       3.0   64313793781

In [179]:
cols = ['price', '1hr change', '24h change', '7d change', 'market cap']
crypto[cols] = crypto[cols].apply(pd.to_numeric, errors='coerce', axis=1)

In [180]:
crypto["market cap"] = crypto["market cap"].apply(lambda x: x/1000000)

In [181]:
crypto = crypto.round(decimals = 1)

In [182]:
crypto = crypto.rename(columns={"name": "Coin", "price": "Price ($)", "1hr change":"1hr change (%)",
                                "24h change":"24hr change (%)", "7d change":"7d change (%)","market cap": "Market Cap ($m)"}, errors="raise")

In [186]:
crypto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Coin             1000 non-null   object
 1   Price ($)        1000 non-null   float64
 2   1hr change (%)   964 non-null    float64
 3   24hr change (%)  989 non-null    float64
 4   7d change (%)    987 non-null    float64
 5   Market Cap ($m)  1000 non-null   float64
dtypes: float64(5), object(1)
memory usage: 47.0+ KB